.extras2__container {
  display: flex;
  width: 100%;
  background: rgba(238, 238, 238, 1);
  border-bottom: 2px solid rgba(195, 195, 195, 1);
  align-items: center;
  cursor: pointer;
}
.extras2__container:hover {
  opacity: 0.7;
  border-bottom: 2px solid rgba(20, 145, 69, 1);
}
.extras2__container-left {
  display: flex;
  flex-direction: column;
  margin: 30px 0 30px 20px;
  flex-grow: 1;
  gap:  15px;
}
.extras2__container-left > h2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: rgba(18, 18, 18, 1);
  /* max-width: 250px; */
}
.extras2__container-left > p {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: rgba(18, 18, 18, 0.7);
  max-width: 500px;
  width: 70%;
}
.extras2__container-right {
  padding-right: 12px;
}
@media screen and (max-width: 450px) {
  .extras2__container {
    width: 100%;
  }
  .extras2__container-left {
    margin: 20px 0 20px 15px;
  }
  .extras2__container-left > h2 {
    font-size: 15px;
    line-height: 25px;
  }
  .extras2__container-left > p {
    font-size: 14px;
    line-height: 20px;
  }
}