@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap");

.top-nav {
  display: flex;
  width: 100%;
  background: rgba(0, 0, 0, 255);
  justify-content: center;
  position: relative;
}
.header__container {
  display: flex;
  width: 90%;

  position: relative;
  marign-inline: auto;
  justify-content: space-between;
  align-items: center;
}
.header__container > img {
  align-items: center;
  display: flex;
  /* flex-grow: 1; */
}
.header__container-links {
  display: flex;
  width: 600px;
  justify-content: space-between;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.83px;
  text-align: left;
}
.header__container-links_more {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}
.header-more {
  display: flex;
  flex-direction: column;
  background: rgba(238, 238, 238, 1);
  padding: 20px;
  position: absolute;
  top: 70px;
  left: 820px;
  gap: 20px;
}
.more-link {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.83px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
.more-link:hover {
  border-bottom: 1px solid rgba(20, 145, 69, 1);
}
.header__container-links_more:hover {
  scale: 1.05;
}
.header__container-links_more > p {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.83px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.header__container-search {
  display: flex;
  background: #ffffff;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
  /* width: 152px; */
}
.header__container-search > img {
  margin-left: 16px;
}
.header__container-search > input {
  padding: 12px 0px;
}
.header-link {
  color: rgba(255, 255, 255, 1);
}
.header-link.active {
  color: #149145;
}

.none,
.hamburger-img {
  display: none;
}
.active {
  color: rgba(20, 145, 69, 1);
}
@media screen and (max-width: 1240px) {
  .header-more {
    left: 750px;
  }
}
@media screen and (max-width: 1149px) {
  .header-more {
    left: 700px;
  }
}
@media screen and (max-width: 1024px) {
  .header__container {
    width: 95%;
  }
  .header__container-links {
    width: 550px;
  }
  .header__container-search > input {
    padding: 8px 0;
  }
  .header__container-search > img {
    margin-left: 10px;
  }
  .header-more {
    left: 620px;
  }
}
@media screen and (max-width: 950px) {
  .header-more {
    left: 580px;
  }
  .header__container-links {
    width: 500px;
    font-size: 14px;
    line-height: 18px;
  }
}
@media screen and (max-width: 875px) {
  .header-more {
    left: 550px;
  }
  .header__container-search {
    width: 150px;
  }
  .header__container-search > input {
    padding: 8px 0;
    width: 100px;
  }
}
@media screen and (max-width: 850px) {
  .top-nav {
    flex-direction: column;
  }
  .header__container {
    margin: 20px;
    padding: 0 10px 0 0;
  }
  .hamburger-img {
    display: flex;
  }
  .header__container-links {
    width: 500px;
    font-size: 12px;
  }
  .header__container-search > input {
    padding: 1px 0;
  }
  .header__container-search > img {
    margin-left: 10px;
  }
  .header__container-links {
    display: none;
  }
  .header__container-search {
    display: none;
  }
  .header__links-responsive {
    display: flex;
    justify-content: center;
    gap: 37px;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .header__container-search-2 {
    display: flex;
    background: #ffffff;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
    /* width: 152px; */
  }
  .header__container-search-2 > img {
    margin-left: 16px;
  }
  .header__container-search-2 > input {
    padding: 12px 0px;
  }
  .none {
    display: none;
  }
}
@media screen and (max-width: 850px) and (orientation: landscape) {
  .header__container-links {
    display: flex;
  }
  .header__container-search {
    display: flex;
  }
  .header__links-responsive {
    display: none;
  }
  .hamburger-img {
    display: none;
  }
  .header__container {
    padding: 0px;
    width: 95%;
    margin: 10px;
  }
  .header__container-links {
    width: 450px;
  }
  .header-more {
    left: 500px;
  }
}

@media screen and (max-width: 730px) and (orientation: landscape) {
  .header__container-links {
    width: 400px;
  }
  .header__container-links_more > p {
    font-size: 14px;
  }
  .header__container-search {
    margin: 5px 0px;
  }
  .header-more {
    left: 430px;
    top: 50px;
  }
}
